<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head><title>工单</title></head>
<body>
<div layout:fragment="wrapper-content">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" th:href="@{/tickets/create}">创建新工单</a>
                        <div class="space-25"></div>
                        <h5>过滤器</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li th:each="filter : ${filters}">
                                <a th:href="@{/tickets/filters/{id}(id=${filter.id})}">
                                    <span th:text="${filter.title}">分配给我</span>
                                </a>
                            </li>
                        </ul>
                        <h5>分类</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a th:href="@{/tickets/categories/123}"> <i class="fa fa-circle text-navy"></i> Work
                            </a></li>
                            <li><a th:href="@{/tickets/categories/123}"> <i class="fa fa-circle text-danger"></i>
                                Documents</a></li>
                            <li><a th:href="@{/tickets/categories/123}"> <i class="fa fa-circle text-primary"></i>
                                Social</a></li>
                            <li><a th:href="@{/tickets/categories/123}"> <i class="fa fa-circle text-info"></i>
                                Advertising</a></li>
                            <li><a th:href="@{/tickets/categories/123}"> <i class="fa fa-circle text-warning"></i>
                                Clients</a></li>
                        </ul>

                        <h5 class="tag-title">标签</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a th:href="@{/tickets/tags/Family}"><i class="fa fa-tag"></i> Family</a></li>
                            <li><a th:href="@{/tickets/tags/Work}"><i class="fa fa-tag"></i> Work</a></li>
                            <li><a th:href="@{/tickets/tags/Home}"><i class="fa fa-tag"></i> Home</a></li>
                            <li><a th:href="@{/tickets/tags/Children}"><i class="fa fa-tag"></i> Children</a></li>
                            <li><a th:href="@{/tickets/tags/Holidays}"><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a th:href="@{/tickets/tags/Music}"><i class="fa fa-tag"></i> Music</a></li>
                            <li><a th:href="@{/tickets/tags/Photography}"><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a th:href="@{/tickets/tags/Film}"><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 animated fadeInRight">
            <div layout:fragment="ticket-content">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">This is page content</h3>
                    <div class="error-desc">
                        You can create here any grid layout you want. And any variation layout you imagine:) Check out
                        main dashboard and other site. It use many different layout.
                        <br/><a href="/" class="btn btn-primary m-t">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
