<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="ticket/layout">
<head><title>工单</title></head>
<body>
<div layout:fragment="ticket-content">
    <div class="ibox">
        <div class="ibox-title">

            <form method="get" th:action="@{/tickets/search}" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="q"/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
            </form>

            <h2 th:text="${filterTitle}"></h2>
        </div>

        <div class="ibox-content">
            <div class="content-container">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="20">#</th>
                            <th>标题</th>
                            <th width="80">状态</th>
                            <th width="80">发起人</th>
                            <th width="150">受理客服组</th>
                            <th width="80">受理人</th>
                            <th width="130">创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ticket : ${page.content}">
                            <td th:text="${ticket.id}">123</td>
                            <td>
                                <a href="detail.html"
                                   th:href="@{/tickets/{id}(id=${ticket.id})}"
                                   th:text="${ticket.title}">Ticket Title</a>
                            </td>
                            <td><span class="label color-label" th:classappend="'label-ticket-status-' + ${ticket.status.name()}"
                                      th:text="${ticket.status}">尚未处理</span></td>
                            <td th:text="${ticket.requester} ? ${ticket.requester.nickname} : '-'">李小姐</td>
                            <td th:text="${ticket.group} ? ${ticket.group.name} : '-'">Group</td>
                            <td th:text="${ticket.assignee} ? ${ticket.assignee.nickname} : '-'">Assignee</td>
                            <td th:text="${#dates.format(ticket.createdAt, 'yyyy-MM-dd HH:mm')}">2016-11-22 14:48</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:unless="${page.totalPages}">
                    <div class="middle-box text-center">
                        <h3 class="font-bold">没有工单</h3>
                    </div>
                </div>

                <div th:replace="element/pagination"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
