<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head><title>用户详情</title></head>
<body>
<div layout:fragment="wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row m-b-lg">
                        <div class="col-lg-4 text-center">
                            <div class="m-b-sm">
                                <img alt="image" class="img-circle" src="/img/a2.jpg" style="width: 62px"/>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h2 th:text="${account.nickname}">Nicki Smith</h2>
                            <a data-toggle="modal" class="btn btn-outline btn-primary btn-sm"
                               data-target="#edit-user-form-modal"> 资料编辑 </a>
                        </div>
                    </div>

                    <div class="account-detail">
                        <strong>用户资料</strong>

                        <ul class="list-group clear-list">
                            <li class="list-group-item fist-item">
                                <span class="pull-right" th:text="${account.role.title}">普通用户</span>角色
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right" th:text="${account.email}">tim@example.com</span>邮箱账号
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right" th:text="${account.phone}">13800000002</span>手机
                            </li>
                            <li class="list-group-item"><span class="pull-right">杭州有赞科技有限公司</span>公司组织</li>
                            <li class="list-group-item">
                                <span class="pull-right" th:text="${account.createdAt}">2016年11月22日 14:58</span>创建于
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right" th:text="${account.updatedAt}">2016年11月23日 11:24</span>更新于
                            </li>
                        </ul>

                        <div th:unless="${#strings.isEmpty(account.note)}">
                            <strong>备注</strong>

                            <p th:text="${account.note}">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <hr/>
                        </div>

                        <div th:unless="${#lists.isEmpty(account.tags)}">
                            <strong>标签</strong>
                            <ul class="tag-list clearfix" style="padding: 0">
                                <li th:each="tag : ${account.tags}">
                                    <a th:href="@{/accounts/tags/{tag}(tag=${tag})}">
                                        <i class="fa fa-tag"></i>
                                        <span th:text="${tag}">Tag</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="tab-wrapper">
                <ul class="nav nav-tabs">
                    <li class="fist-item" th:classappend="${accountDetailTab} eq 'ticket' ? 'active'">
                        <a th:href="@{/accounts/{id}/tickets/(id=${account.id})}">
                            <i class="fa fa-list"></i>工单
                        </a>
                    </li>
                    <li th:class="${accountDetailTab} eq 'post' ? 'active'">
                        <a th:href="@{/accounts/{id}/posts/(id=${account.id})}">
                            <i class="fa fa-file-text"></i>知识文档库
                        </a>
                    </li>
                </ul>
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="content-container" layout:fragment="account-detail-content">
                            <div class="middle-box text-center animated fadeInRightBig">
                                <h3 class="font-bold">This is page content</h3>

                                <div class="error-desc">
                                    You can create here any grid layout you want. And any variation layout you imagine:)
                                    Check out
                                    main dashboard and other site. It use many different layout.
                                    <br/><a href="/" class="btn btn-primary m-t">Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="edit-user-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <form id="ticket-replay-form" method="post" th:method="POST" class="form-horizontal" th:object="${account}"
                  th:action="@{/accounts/edit}">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInDown">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">×</span><span
                                    class="sr-only">Close</span></button>
                            <h4 class="modal-title">编辑用户</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" th:field="*{id}"/>
                                <label class="col-lg-2 control-label">用户昵称</label>

                                <div class="col-lg-10">
                                    <input type="text" name="nickname" class="form-control" th:field="*{nickname}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">邮箱</label>

                                <div class="col-lg-10">
                                    <input type="email" name="email" th:field="*{email}" class="form-control"/>
                                    <span class="help-block m-b-none">邮箱将作为用户的登录账号</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">手机号码</label>

                                <div class="col-lg-10">
                                    <input type="text" name="phone" th:field="*{phone}" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">用户角色</label>

                                <div class="col-lg-10">
                                    <select class="form-control m-b" name="role" th:field="*{role}">
                                        <option value="USER">普通用户</option>
                                        <option value="AGENT">客服人员</option>
                                        <option value="ADMIN">管理员</option>
                                    </select>
                                    <span class="help-block m-b-none">
                                        管理员和客服人员是处理工单的用户角色，普通用户是外部提交工单的用户角色。
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label"> 标签 </label>

                                <div class="col-lg-10">
                                    <input class="input-tags" type="text" th:field="*{tags}"/>
                                    <span class="help-block m-b-none">输入文字后按回车或逗号自动生成标签</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">备注</label>

                                <div class="col-lg-10">
                                    <textarea th:field="*{note}" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-white" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary" id="edit-user-submit">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div layout:fragment="javascript">
    <script>
        $(document).ready(function () {
            $('#edit-user-submit').click(function () {
                $('#ticket-replay-form').submit();
            })
        });
    </script>
</div>
</body>
</html>
