<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head><title>设置</title></head>
<body>
<div layout:fragment="wrapper-content">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager panel-group content-sidebar" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ticket-panel-collapse"
                                       aria-expanded="true">工单</a>
                                </h5>
                            </div>
                            <div id="ticket-panel-collapse" class="panel-collapse collapse" th:classappend="${settings=='FILTER'}?'in'" aria-expanded="true">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/settings/filters/">
                                            <i class="fa fa-window-restore" aria-hidden="true"></i> 过滤器
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/macros/">
                                            <i class="fa fa-commenting" aria-hidden="true"></i> 预设工单回应
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/triggers/">
                                            <i class="fa fa-superpowers" aria-hidden="true"></i> 触发器任务/提醒任务
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/automations/">
                                            <i class="fa fa-hourglass-half" aria-hidden="true"></i> 自动化任务/定时任务
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/fields/">
                                            <i class="fa fa-filter" aria-hidden="true"></i> 工单自定义字段
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/ticket">
                                            <i class="fa fa-cog" aria-hidden="true"></i> 工单设置
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#user-panel-collapse"
                                       aria-expanded="true" class="">用户和组</a>
                                </h5>
                            </div>
                            <div id="user-panel-collapse" class="panel-collapse collapse" th:classappend="${settings=='GROUP'}?'in'">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/settings/groups/">
                                            <i class="fa fa-users "></i> 客服组设置
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/agent">
                                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> 客服坐席设置
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/user"> <i class="fa fa-user "></i> 普通用户设置
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#channel-panel-collapse"
                                       aria-expanded="true" class="">客服接入渠道</a>
                                </h5>
                            </div>
                            <div id="channel-panel-collapse" class="panel-collapse collapse" th:classappend="${settings=='CHANNEL'}?'in'">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/settings/voice">
                                            <i class="fa fa-headphones" aria-hidden="true"></i> 电话语音呼叫中心
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/chat">
                                            <i class="fa fa-exchange" aria-hidden="true"></i> 在线交谈
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/email">
                                            <i class="fa fa-envelope-o"></i> 邮件
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/wechat">
                                            <i class="fa fa-weixin" aria-hidden="true"></i> 微信客服
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/gadget">
                                            <i class="fa fa-user-circle" aria-hidden="true"></i> 网页客服组件
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/sdk">
                                            <i class="fa fa-rss" aria-hidden="true"></i> 移动 APP SDK
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/weibo">
                                            <i class="fa fa-weibo" aria-hidden="true"></i> 新浪微博</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/api">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> API接口
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#app-panel-collapse"
                                       aria-expanded="true" class="">应用拓展</a>
                                </h5>
                            </div>
                            <div id="app-panel-collapse" class="panel-collapse collapse" th:classappend="${settings=='APPS'}?'in'">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/settings/apps/">
                                            <i class="fa fa-android" aria-hidden="true"></i> 应用
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/installeds/">
                                            <i class="fa fa-arrow-down" aria-hidden="true"></i> 已安装的应用
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/webhook/">
                                            <i class="fa fa-hourglass" aria-hidden="true"></i> 提醒目标 Webhook
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#global-panel-collapse"
                                       aria-expanded="true" class="">全局</a>
                                </h5>
                            </div>
                            <div id="global-panel-collapse" class="panel-collapse collapse" th:classappend="${settings=='GLOBAL'}?'in'">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/settings/brand">
                                            <i class="fa fa-cog" aria-hidden="true"></i> 品牌设置
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/security">
                                            <i class="fa fa-shield" aria-hidden="true"></i> 安全设置
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/regions/">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i> 地理组合
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/sso">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> SSO单点登录
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/attachments/">
                                            <i class="fa fa-file-archive-o" aria-hidden="true"></i> 附件
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/tags/">
                                            <i class="fa fa-tags" aria-hidden="true"></i> 标签
                                        </a></li>
                                    <li class="list-group-item">
                                        <a href="/settings/logs/">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i> 管理日志
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-9 animated fadeInRight">
            <div layout:fragment="setting-content">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">This is page content</h3>
                    <div class="error-desc">
                        You can create here any grid layout you want. And any variation layout you imagine:) Check out
                        main dashboard and other site. It use many different layout.
                        <br/><a href="index" class="btn btn-primary m-t">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
