<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head><title>设置</title></head>
<body>
<div layout:fragment="wrapper-content">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager panel-group content-sidebar" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ticket-panel-collapse"
                                       aria-expanded="true">提现</a>
                                </h5>
                            </div>
                            <div id="ticket-panel-collapse" class="panel-collapse collapse" th:classappend="${settings=='FILTER'}?'in'" aria-expanded="true">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/profiles/payments/withdraw">
                                            <i class="fa fa-window-restore" aria-hidden="true"></i> 提现
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ticket-panel-collapse"
                                       aria-expanded="true">充值</a>
                                </h5>
                            </div>
                            <div id="ticket-panel-collapse" class="panel-collapse collapse" th:classappend="${settings=='FILTER'}?'in'" aria-expanded="true">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/profile/payment/withdraw">
                                            <i class="fa fa-window-restore" aria-hidden="true"></i> 提现
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/macros/">
                                            <i class="fa fa-commenting" aria-hidden="true"></i> 预设工单回应
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/triggers/">
                                            <i class="fa fa-superpowers" aria-hidden="true"></i> 触发器任务/提醒任务
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/automations/">
                                            <i class="fa fa-hourglass-half" aria-hidden="true"></i> 自动化任务/定时任务
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/fields/">
                                            <i class="fa fa-filter" aria-hidden="true"></i> 工单自定义字段
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/settings/ticket">
                                            <i class="fa fa-cog" aria-hidden="true"></i> 工单设置
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-9 animated fadeInRight">
            <div layout:fragment="pay-content">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">This is page content</h3>
                    <div class="error-desc">
                        You can create here any grid layout you want. And any variation layout you imagine:) Check out
                        main dashboard and other site. It use many different layout.
                        <br/><a href="index" class="btn btn-primary m-t">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
