<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head><title>公司组织详情</title></head>
<body>
<div layout:fragment="wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row m-b-lg">
                        <div class="col-lg-4 text-center">
                            <div class="m-b-sm">
                                <img alt="image" class="img-circle" src="/img/admin.jpg" style="width: 62px"/>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <h2 th:text="${organization.name}">Organization Name</h2>
                        </div>
                        <div class="col-lg-1">
                            <a data-toggle="modal" data-target="#edit-org-form-modal"><i class="fa fa-pencil-square-o"
                                                                                         aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="organization-detail">
                        <ul class="list-group clear-list">
                            <li class="list-group-item fist-item">
                                <span class="pull-right" th:text="${organization.domain}">example.com</span>域名
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">Support Team</span>客服组
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">能查看组织的所有工单</span>用户
                            </li>
                            <li class="list-group-item"><span class="pull-right"
                                                              th:text="${organization.description}">-</span>描述
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right" th:text="${organization.createdAt}">2016年11月22日 14:58</span>创建于
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right" th:text="${organization.updatedAt}">2016年11月23日 11:24</span>更新于
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="tab-wrapper">
                <ul class="nav nav-tabs">
                    <li class="fist-item" th:classappend="${orgDetailTab} eq 'ticket' ? 'active'">
                        <a th:href="@{/organizations/{id}/tickets/(id=${organization.id})}">
                            <i class="fa fa-list"></i>工单
                        </a>
                    </li>
                    <li th:class="${orgDetailTab} eq 'member' ? 'active'">
                        <a th:href="@{/organizations/{id}/members/(id=${organization.id})}">
                            <i class="fa fa-users"></i>成员
                        </a>
                    </li>
                </ul>
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="content-container" layout:fragment="org-detail-content">
                            <div class="middle-box text-center animated fadeInRightBig">
                                <h3 class="font-bold">This is page content</h3>

                                <div class="error-desc">
                                    You can create here any grid layout you want. And any variation layout you imagine:)
                                    Check out
                                    main dashboard and other site. It use many different layout.
                                    <br/><a href="/" class="btn btn-primary m-t">Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="edit-org-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <form id="ticket-replay-form" method="post" th:method="POST" class="form-horizontal" th:object="${organization}"
              th:action="@{/organization/edit}">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInDown">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">编辑组织资料</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" th:field="*{id}"/>
                            <label class="col-lg-2 control-label">组织名称</label>

                            <div class="col-lg-10">
                                <input type="text" name="name" class="form-control" th:field="*{name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">域名</label>

                            <div class="col-lg-10">
                                <input type="text" name="domain" th:field="*{domain}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">描述信息</label>

                            <div class="col-lg-10">
                                <textarea th:field="*{description}" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-white" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" id="edit-user-submit">提交</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>
