<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="organization/detail/layout">
<head><title>组织的工单</title></head>
<body>
<div layout:fragment="org-detail-content">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="20">#</th>
                <th>标题</th>
                <th width="80">状态</th>
                <th width="80">发起人</th>
                <th width="150">受理客服组</th>
                <th width="80">受理人</th>
                <th width="130">创建时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${page.content}">
                <td th:text="${ticket.id}">123</td>
                <td>
                    <a href="../../ticket/detail.html"
                       th:href="@{/tickets/{id}(id=${ticket.id})}"
                       th:text="${ticket.title}">Ticket Title</a>
                </td>
                <td><span class="label color-label" th:classappend="'label-ticket-status-' + ${ticket.status.name()}"
                          th:text="${ticket.status}">尚未处理</span></td>
                <td>李小姐</td>
                <td th:text="${ticket.group} ? ${ticket.group.name} : '-'">Group</td>
                <td th:text="${ticket.assignee} ? ${ticket.assignee.nickname} : '-'">Assignee</td>
                <td th:text="${#dates.format(ticket.createdAt, 'yyyy-MM-dd HH:mm')}">2016-11-22 14:48</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${page.totalPages}">
        <div class="middle-box text-center">
            <h3 class="font-bold">没有工单</h3>
        </div>
    </div>

    <div th:replace="element/pagination"></div>
</div>
</body>

</html>
