<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="setting/index">
<head><title>添加过滤器</title></head>
<body>
<div layout:fragment="setting-content">
    <div class="ibox">
        <div class="ibox-title">
            <h3> 添加过滤器 </h3>
        </div>
        <div class="ibox-content">
            <form method="get" id="addFilterForm" class="form-horizontal" th:method="POST"
                  th:action="@{/settings/filters/save}"
                  th:object="${filters}">
                <input type="text" class="hidden" th:field="*{active}" />
                <input th:field="*{id}" class="hidden"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题 *</label>

                    <div class="col-sm-10">
                        <input id="userName" name="userName" type="text" class="form-control required"
                               aria-required="true" th:field="*{title}"/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">满足以下所有条件
                    </label>

                    <div class="col-sm-10 conditions-ul-all">
                        <ul class="list-group">
                            <div th:each="condition: ${filters.all}" class="div-any-condition" >
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3">
                                            <select class="form-control condition-source" th:value="${condition.source}">
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <select class="form-control condition-operator" th:value="${condition.operator}">
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <select class="form-control condition-value" th:value="${condition.value}">
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 ">
                                            <!--<a class="btn btn-white btn-add-condition">添加</a>-->
                                            <a class="btn btn-white btn-delete-condition">删除</a>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                        <div class="pull-left condition-operation">
                            <a class="btn btn-white btn-add-all-condition">添加</a>
                            <!--<i class="fa fa-plus fa-3" aria-hidden="true"></i>-->
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">满足以下任一条件
                    </label>

                    <div class="col-sm-10 conditions-ul-any">
                        <ul class="list-group">
                            <div th:each="condition: ${filters.any}" class="div-any-condition">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3">
                                            <select class="form-control condition-source" th:text="${condition.source}">
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <select class="form-control condition-operator" th:text="${condition.operator}">
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <select class="form-control condition-value" th:text="${condition.value}">
                                                <option th:selected=""></option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 ">
                                            <!--<a class="btn btn-white btn-add-condition">添加</a>-->
                                            <a class="btn btn-white btn-delete-condition">删除</a>
                                        </div>
                                    </div>
                                </li>
                            </div>

                        </ul>
                        <div class="pull-left condition-operation">
                            <a class="btn btn-white btn-add-any-condition">添加</a>
                            <!--<i class="fa fa-plus fa-3" aria-hidden="true"></i>-->
                        </div>
                    </div>
                </div>
                <!--<div class="hr-line-dashed"></div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">显示字段</label>-->

                    <!--<div class="col-sm-8">-->

                        <!--<div class="input-group show-field">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="hr-line-dashed"></div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">分组</label>-->

                    <!--<div class="col-sm-10">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-3 col-sm-2">-->
                                <!--<select class="form-control" name="groupField">-->
                                    <!--<option value="group">受理客服组</option>-->
                                    <!--<option value="type">类型</option>-->
                                    <!--<option value="receipnt">优先级</option>-->
                                    <!--<option value="agent">受理客服</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<label class="checkbox-inline"><input type="radio" name="groupSort" checked="checked"-->
                                                                  <!--value="1"/> 升序 </label>-->
                            <!--<label class="checkbox-inline"><input type="radio" name="groupSort" value="0"/> 降序 </label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="hr-line-dashed"></div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">排序</label>-->

                    <!--<div class="col-sm-10">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-3 col-sm-2">-->
                                <!--<select class="form-control" name="sortField">-->
                                    <!--<option value="group_id">受理客服组</option>-->
                                    <!--<option value="type">类型</option>-->
                                    <!--<option value="receipnt">优先级</option>-->
                                    <!--<option value="agent">受理客服</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<label class="checkbox-inline"><input type="radio" name="sort" checked="checked" value="1"/>-->
                                <!--升序 </label>-->
                            <!--<label class="checkbox-inline"><input type="radio" name="sort" value="0"/> 降序 </label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">可以使用的客户
                    </label>

                    <div class="col-sm-10">
                        <div class="select-group">
                            <label class="checkbox-inline"><input type="checkbox" value="option1"/> 所有客服 </label>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-white" type="button">删除</button>
                        <button class="btn btn-primary" type="submit" onclick="saveFilter()">保存</button>
                    </div>
                </div>
                <div class="div-all-condition" style="display:none;">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-3">
                                <select class="form-control condition-source" id="condition-source">
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <select class="form-control condition-operator" id="condition-operator">
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <select class="form-control condition-value" id="condition-value">
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3 ">
                                <!--<a class="btn btn-white btn-add-condition">添加</a>-->
                                <a class="btn btn-white btn-delete-condition">删除</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="div-any-condition" style="display:none;">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-3">
                                <select class="form-control condition-source">
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <select class="form-control condition-operator">
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <select class="form-control condition-value">
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3 ">
                                <!--<a class="btn btn-white btn-add-condition">添加</a>-->
                                <a class="btn btn-white btn-delete-condition">删除</a>
                            </div>
                        </div>
                    </li>
                </div>
            </form>
        </div>
    </div>
</div>
<div layout:fragment="javascript">
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/init.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $("#addFilterForm").validate();
            init();
            $(document).on("change", function (e) {
                if ( e.target.className.indexOf("form-control condition-source") !=-1) {
                    var name = $(e.target).closest(".row").find(".condition-source option:selected").attr("name");
                    for (var item in condition_and_target) {
                        if (item == name) {
                            var operators = [], values = [];
                            operators = condition_and_target[item].operator;
                            values = condition_and_target[item].values;
                            var select_operator = $(e.target).closest(".row").find(".condition-operator");
                            var select_values = $(e.target).closest(".row").find(".condition-value");
                            select_operator.empty();
                            select_values.empty();
                            for (var j = 0; j < operators.length; j++) {
                                select_operator.append("<option value='" + operators[j].key + "' name='" + operators[j].key + "'>" + operators[j].value + "</option>");
                            }
                            for (var k = 0; k < values.length; k++) {
                                select_values.append("<option value='" + values[k].key + "' name='" + values[k].key + "'>" + values[k].value + "</option>");
                            }
                        }
                    }
                }
            })
        })
        $(document).delegate(".btn-add-all-condition", "click", function () {
            $(this).closest(".conditions-ul-all").find("ul").append($(".div-all-condition").find("li")[0].outerHTML);

        });
        $(document).delegate(".btn-delete-all-condition", 'click', function () {
            $(this).closest("li").remove();
        });
        $(document).delegate(".btn-add-any-condition", "click", function () {
            $(this).closest(".conditions-ul-any").find("ul").append($(".div-any-condition").find("li")[0].outerHTML);

        });
        $(document).delegate(".btn-delete-any-condition", 'click', function () {
            $(this).closest("li").remove();
        });
        function saveFilter() {
            /**
             * 多选框取值
             * */
            var show_field_length = $(".show-field").find("input:checked").length;
            for (var i = 0; i < show_field_length; i++) {
                $(".show-field").find("input:checked")[i].setAttribute("name", "showField[" + i + "]");
            }
            /**
             * 级联框取值
             * */
            var all_length = $(".conditions-ul-all ul li").length;
            for (var i = 0; i < all_length; i++) {
                $(".conditions-ul-all ul ").find(".condition-source")[i].setAttribute("name", "all[" + i + "].source");
                $(".conditions-ul-all ul ").find(".condition-operator")[i].setAttribute("name", "all[" + i + "].operator");
                $(".conditions-ul-all ul ").find(".condition-value")[i].setAttribute("name", "all[" + i + "].value");
            }
            var any_length = $(".conditions-ul-any ul li").length;
            for (var i = 0; i < any_length; i++) {
                $(".conditions-ul-any ul ").find(".condition-source")[i].setAttribute("name", "any[" + i + "].source");
                $(".conditions-ul-any ul ").find(".condition-operator")[i].setAttribute("name", "any[" + i + "].operator");
                $(".conditions-ul-any ul ").find(".condition-value")[i].setAttribute("name", "any[" + i + "].value");
            }
            return true;
        }
        /**
         * 初始化数据
         * */
        function init() {
            for (var i = 0; i < show_field.length; i++) {
                $(".show-field").append("<label class='checkbox-inline'><input type='checkbox'  value='" + show_field[i].key + "'/>" + show_field[i].value + "</label>");
            }
            for (var i = 0; i < condition_and_options.length; i++) {
                $('.condition-source').append("<option value='" + condition_and_options[i].key + "' name='" + condition_and_options[i].key + "'>" + condition_and_options[i].value + "</option>")
            }
            /**
             * 初始化需要替换的数据
             * 人员替换
             * **/
            var accounts = [];
            accounts = /*[[${accounts}]]*/;
            var accountArray = new Array();
            for (var i = 0; i < accounts.length; i++) {
                var map={};
                map["key"] = accounts[i].id;
                map["value"] = accounts[i].nickname;
                accountArray.push(map);
                // map["key"] = accounts[i].email.value;
                //  map["value"] = accounts[i].email.value;
            }
            condition_and_target.requester_id.values = eval(JSON.stringify(accountArray));
            condition_and_target.assignee_id.values = eval(JSON.stringify(accountArray));
//            condition_and_target.recipient.values = eval()
            /**
             * 公司组织替换
             * */
            var organizationArray = [];
            organizationArray = /*[[${organizations}]]*/;
            var array = new Array();
            for (var i = 0; i < organizationArray.length; i++) {
                var map = {};
                map["key"] = organizationArray[i].id;
                map["value"] = organizationArray[i].name;
                array.push(map);
            }
            condition_and_target.organization.values = eval(JSON.stringify(array));
        }
        /*]]>*/
    </script>
</div>
</body>

</html>
