<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="setting/index">
<head><title>过滤器</title></head>
<body>
<div layout:fragment="setting-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>过滤器</h5></div>
        <div class="ibox-content">
            <p>工单查看分类用于增加工单“分类管理方式”，方便您和客服更快速的定位和管理工单。
                她类似保存的“工单搜索器”，用不同的条件筛选出特定条件的工单集合。
                客服工作时，通过点击这些保存过的“工单搜索器”能快速列出符合条件的工单列表并及时处理。
            </p><br/>
            <div class="tab-wrapper">
                <a class="pull-right btn btn-primary btn-outline btn-sm"
                   href="/settings/filters/add">
                    添加过滤器
                </a>
                <ul class="nav nav-tabs">
                    <li class="navbar-left active"><a data-toggle="tab" href="#tab-1" class="clear-checkbox"> 启动 </a>
                    </li>
                    <li class="navbar-left"><a data-toggle="tab" href="#tab-2" class="clear-checkbox"> 非启动 </a></li>
                </ul>
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="content-container">
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                        <tr>
                                            <th width="30px"></th>
                                            <th class="text-left"><h5> 名称 </h5></th>
                                            <th> 可用于</th>
                                            <th> 最后更新时间</th>
                                            <th class="text-right"><h5> 操作 </h5></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="filter : ${filters}" th:attr="data-id=${filter.id}">
                                            <div th:if="${filter.active}">
                                                <td>
                                                    <div class="input-group"><input type="checkbox"
                                                                                    class="filter-checkbox"
                                                                                    style="display: none;"/></div>
                                                </td>
                                                <td th:text="${filter.title}">Coupon Name</td>
                                                <td>所有客服</td>
                                                <td th:text="${#dates.format(filter.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
                                                <td class="ibox-tools text-right">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                                       aria-expanded="true">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-user">
                                                        <li>
                                                            <a th:href="@{/settings/filters/{id}/edit(id=${filter.id})}">编辑</a>
                                                        </li>
                                                        <li>
                                                            <a th:href="@{/settings/filters/{id}/copy(id=${filter.id})}">复制</a>
                                                        </li>
                                                        <li>
                                                            <a class="action-filter" data-text = "0">停用</a>
                                                        </li>
                                                    </ul>

                                                </td>
                                            </div>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div class="checked-operation" style="display: none">
                                        <span class="checked-num-copywrite"></span>
                                        <!--<a href="#" class="selectAll-checkbox">全选</a>-->
                                        |
                                        <a href="#" class="clear-checkbox">清除选定</a>
                                        <a type="button" value="0"
                                           class="pull-right btn btn-primary btn-outline btn-sm  action-batch-filters">
                                            选中停用</a>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                        <tr>
                                            <th width="30px"></th>
                                            <th class="text-left"><h5> 名称</h5></th>
                                            <th> 可用于</th>
                                            <th> 最后更新时间</th>
                                            <th class="text-right"><h5> 操作</h5></th>
                                        </tr>

                                        </thead>
                                        <tbody>

                                        <tr th:each="filter : ${filters}" th:attr="data-id=${filter.id}">
                                            <div th:unless="${filter.active}">
                                                <td>
                                                    <div class="input-group"><input type="checkbox"
                                                                                    class="filter-checkbox"
                                                                                    style="display: none;"/></div>
                                                </td>
                                                <td th:text="${filter.title}">Coupon Name</td>
                                                <td>所有客服</td>
                                                <td th:text="${#dates.format(filter.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
                                                <td class="text-right">
                                                    <div class="ibox-tools">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                                           aria-expanded="false">
                                                            <i class="fa fa-wrench"></i>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-user">
                                                            <li>
                                                                <a class="action-filter" data-text="1">启用</a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/settings/filters/{id}/edit(id=${filter.id})}">编辑</a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/settings/filters/{id}/copy(id=${filter.id})}">复制</a>
                                                            </li>
                                                            <!--<li>-->
                                                                <!--<a th:href="@{/settings/filters/{id}/delete(id=${filter.id})}">删除</a>-->
                                                            <!--</li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </div>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div class="checked-operation" style="display: none">
                                        <span class="checked-num-copywrite"></span>
                                        <!--<a href="#" class="selectAll-checkbox">全选</a>-->
                                        |
                                        <a href="#" class="clear-checkbox">清除选定</a>
                                        <button type="button" value="1"
                                           class="pull-right btn btn-primary btn-outline btn-sm  action-batch-filters">
                                            选中启用</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
        $(".action-filter").click(function () {
            var operation = $(this).data("text");
            var idList = new Array();
            var line = $(this).closest("tr");
            idList.push(line.data("id"));
            batchChangeFilterStatus(operation,idList);
        });
        function batchChangeFilterStatus(operation,idList){
            var active = true;
            var confirmText = "你确认要启用此分类吗？";
            if(operation == 0){
                confirmText = "你确认要停用此分类吗？";
                active = false;
            }
            if (confirm(confirmText)) {
                $.ajax({
                    type: 'post',
                    url: "/ajax/settings/filters/batch/change-status",
                    data:{
                        "active":active,
                        "list":idList.toString()
                    },
                    dataType: 'text',
                    success: function (json) {
                        location.reload();
                    }
                });
            }
        }
        $(".action-batch-filters").click(function () {
            var idList = new Array();
            var operation = $(this).val();
            $(".filter-checkbox:checked").each(function () {
                idList.push($(this).closest("tr").data("id"));
            });
            batchChangeFilterStatus(operation,idList);
        });


        $("table tbody tr ").hover(function () {
            $(this).find(".filter-checkbox").css("display", "block");
        }, function () {
            if ($(".filter-checkbox:checked").length > 0) {
                return;
            }
            $(this).find(".filter-checkbox").css("display", "none");
        });

        $(".filter-checkbox").click(function () {
            setCheckBox();
        });

        function setCheckBox() {
            var checkedNum = $(".filter-checkbox:checked").length;
            if (checkedNum == 0) {
                $(".filter-checkbox").css("display", "none");
                $(".checked-operation").css("display", "none");
            } else {
                $(".filter-checkbox").css("display", "block");
                $(".checked-operation").css("display", "block");
                $(".checked-num-copywrite").html(checkedNum + "个被选中  ")
            }
        }
        $(".clear-checkbox").click(function () {
            $(".filter-checkbox").attr("checked", false);
            setCheckBox();

        });
        $(".selectAll-checkbox").click(function () {
            $(".filter-checkbox").attr("checked", true);
            setCheckBox();
        });
    </script>
</div>
</body>
</html>
