<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="resource/layout">
<!--内部知识库 -->
<head><title> 内部知识库 </title>
</head>
<body>
<div layout:fragment="resource-content">
    <div class="wrapper">
            <div class="ibox">
                <div class="ibox-content ">
                    <h2>内部知识库</h2>
                </div>
            </div>
        <div class="wrapper-content">
            <div class="row">
            <div class="col-lg-2 ">
                <div class="ibox">
                    <div class="ibox-content mail-box-content" style="min-height:862px;">
                        <div>
                        <h5>知识库文档</h5>
                        </div>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href=""> 内部知识库TEST1 </a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-10 col-md-9 ">
                <div layout:fragment="internal-content">
                    <div class="middle-box text-center animated fadeInRightBig">
                        <h3 class="font-bold">This is page content</h3>
                        <div class="error-desc">
                            You can create here any grid layout you want. And any variation layout you imagine:) Check
                            out
                            main dashboard and other site. It use many different layout.
                            <br/><a href="index" class="btn btn-primary m-t">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
</div>
</body>
</html>
